@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html,
body,
ul,
li,
button,
textarea,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

textarea {
  resize: none; }

li {
  list-style: none; }

img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto; }

input {
  border: none; }

a {
  text-decoration: none;
  color: #fff; }

h1 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px;
  color: #fff; }

h2 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 150%;
  color: #253757; }

h3 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #253757; }

h4 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: #fff; }

.header__link, .nav__link {
  padding: 10px 5px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .header__link:hover, .nav__link:hover {
    color: #ff9c8e; }
  @media screen and (max-width: 900px) {
    .header__link, .nav__link {
      font-size: 24px; } }

.intro__button, .apply__button, .contacts__button {
  width: 226px;
  background: #ff9c8e;
  border-radius: 64px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .intro__button:hover, .apply__button:hover, .contacts__button:hover {
    background-color: #ff7e6c; }

.process__title, .process-card__order, .approach__title, .clients__title {
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 150%;
  scroll-behavior: smooth; }

body {
  background: #f2f9ff; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #008aff; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 0 auto;
    width: calc(100% - 120px);
    max-width: 1200px; }
    @media screen and (max-width: 900px) {
      .header__container {
        margin: 0; } }
    @media screen and (max-width: 900px) {
      .header__container {
        width: 100%; } }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-width: 800px; }
    @media screen and (max-width: 900px) {
      .header__menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        min-width: 0;
        background-color: #ff9c8e;
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
        -webkit-transform: translate(-100%, 0);
                transform: translate(-100%, 0);
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); } }
  .header__link {
    position: relative; }
    .header__link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 4px;
      width: calc(100% - 10px);
      height: 2px;
      border-radius: 4px;
      background-color: #ff7e6c; }
  .header__logo {
    margin-right: 40px;
    width: 45px;
    height: 25px; }
    @media screen and (max-width: 900px) {
      .header__logo {
        position: absolute;
        z-index: 3;
        top: 40%;
        left: 40px;
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        margin-right: 0; } }
  .header__toggler {
    display: none;
    position: absolute;
    right: 20px;
    opacity: 0;
    z-index: 4;
    width: 40px;
    height: 32px; }
    @media screen and (max-width: 900px) {
      .header__toggler {
        display: block; } }
    .header__toggler:checked ~ .header__burger-menu > .header__burger-bar {
      opacity: 1;
      -webkit-transform: rotate(-45deg) translate(-2px, -1px);
              transform: rotate(-45deg) translate(-2px, -1px);
      background: #fff; }
    .header__toggler:checked ~ .header__burger-menu > .header__burger-bar:nth-last-child(3) {
      opacity: 0;
      -webkit-transform: rotate(0deg) scale(0.2, 0.2);
              transform: rotate(0deg) scale(0.2, 0.2); }
    .header__toggler:checked ~ .header__burger-menu > .header__burger-bar:nth-last-child(2) {
      -webkit-transform: rotate(45deg) translate(-1px, -3px);
              transform: rotate(45deg) translate(-1px, -3px); }
    .header__toggler:checked ~ .header__menu {
      -webkit-transform: none;
              transform: none; }
  .header__burger-menu {
    display: none;
    position: absolute;
    right: 20px; }
    @media screen and (max-width: 900px) {
      .header__burger-menu {
        display: block; } }
    .header__burger-menu span {
      display: block;
      position: relative;
      right: 10px;
      margin-bottom: 5px;
      width: 33px;
      height: 4px;
      background: #fff;
      border-radius: 3px;
      z-index: 3;
      -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    .header__burger-menu span:first-child {
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%; }
    .header__burger-menu span:nth-last-child(2) {
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 900px) {
      .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 30px; }
  .nav__link {
    padding: 5px; }

.intro {
  background-color: #008aff;
  border-radius: 0 0 0 150px;
  overflow: hidden; }
  @media screen and (min-width: 1601px) {
    .intro {
      border-radius: 0 0 150px 150px; } }
  @media screen and (max-width: 900px) {
    .intro {
      z-index: 1; } }
  @media screen and (max-width: 900px) {
    .intro {
      border-radius: 0 0 0 50px; } }
  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    max-width: 1400px; }
  .intro__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px;
    width: 490px; }
    @media screen and (max-width: 400px) {
      .intro__article {
        width: 70%; } }
    @media screen and (max-width: 400px) {
      .intro__article {
        padding: 15px; } }
  .intro__text {
    color: #fff;
    font-size: 18px; }
  .intro__slider {
    background-image: url(../images/slider/Photo.png);
    height: 680px;
    width: 680px; }
    @media screen and (max-width: 900px) {
      .intro__slider {
        display: none; } }
  .intro__button {
    margin-top: 83px;
    height: 50px; }
    @media screen and (max-width: 400px) {
      .intro__button {
        margin-top: 15px; } }

.info {
  margin: 150px auto;
  max-width: 755px; }
  .info__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }
  @media screen and (max-width: 900px) {
    .info {
      padding: 40px; } }
  @media screen and (max-width: 900px) {
    .info {
      margin: 20px auto; } }

.products {
  background-color: #fff;
  padding: 100px 20px;
  margin-bottom: 100px;
  text-align: center; }
  .products__container {
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 1024px; }
  .products__title {
    margin-bottom: 65px; }
  .products__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 900px) {
      .products__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media screen and (max-width: 900px) {
      .products__row {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  @media screen and (min-width: 1601px) {
    .products {
      border-radius: 150px; } }

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 264px;
  border-radius: 25px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .product-card:hover {
    -webkit-box-shadow: 0 12px 32px -9px rgba(0, 0, 0, 0.1);
            box-shadow: 0 12px 32px -9px rgba(0, 0, 0, 0.1); }
  .product-card__picture {
    margin: 25px;
    width: calc(264px * 0.7);
    border-radius: 25px; }
  .product-card__text {
    font-size: 14px;
    line-height: 150%; }

.process {
  padding: 20px; }
  .process__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media screen and (max-width: 900px) {
      .process__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .process__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px;
    width: 362px;
    font-size: 14px;
    line-height: 150%; }
    @media screen and (max-width: 900px) {
      .process__article {
        width: 90%; } }
    @media screen and (max-width: 900px) {
      .process__article {
        margin-bottom: 50px; } }
  .process__title {
    color: #c0cdd7; }
  .process__cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; }
    @media screen and (max-width: 900px) {
      .process__cards {
        grid-template-columns: 1fr; } }
    @media screen and (max-width: 900px) {
      .process__cards {
        justify-items: center; } }
    @media screen and (max-width: 900px) {
      .process__cards {
        margin-bottom: 50px; } }

.process-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
  width: 264px;
  height: 264px;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .process-card:nth-child(1) .process-card__order {
    color: #56ccf2; }
    .process-card:nth-child(1) .process-card__order::before {
      background-color: #56ccf2;
      opacity: 0.1; }
  .process-card:nth-child(1) .process-card__arrow {
    color: #56ccf2;
    opacity: 1; }
  .process-card:nth-child(2) .process-card__order {
    color: #fcc91d; }
    .process-card:nth-child(2) .process-card__order::before {
      background-color: #fcc91d;
      opacity: 0.1; }
  .process-card:nth-child(2) .process-card__arrow {
    color: #fcc91d;
    opacity: 1; }
  .process-card:nth-child(3) .process-card__order {
    color: #15d850; }
    .process-card:nth-child(3) .process-card__order::before {
      background-color: #15d850;
      opacity: 0.1; }
  .process-card:nth-child(3) .process-card__arrow {
    color: #15d850;
    opacity: 1; }
  .process-card:nth-child(4) .process-card__order {
    color: #f36363; }
    .process-card:nth-child(4) .process-card__order::before {
      background-color: #f36363;
      opacity: 0.1; }
  .process-card:nth-child(4) .process-card__arrow {
    color: #f36363;
    opacity: 1; }
  .process-card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .process-card:nth-child(odd) {
    position: relative;
    top: 50%; }
    @media screen and (max-width: 900px) {
      .process-card:nth-child(odd) {
        top: 0; } }
  .process-card__order {
    position: relative;
    text-align: center;
    padding-left: 4px;
    width: 46px;
    height: 24px;
    color: #6c788b; }
    .process-card__order::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 46px;
      height: 24px;
      border-radius: 23px; }
  .process-card__text {
    font-size: 13px;
    line-height: 150%; }
  .process-card__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .process-card__button:hover {
      -webkit-transform: translateX(10%);
              transform: translateX(10%); }
  .process-card__arrow {
    position: relative;
    margin-right: 15px;
    width: 40px;
    height: 40px; }
    .process-card__arrow::before {
      content: url(../images/features/Vector.png);
      position: absolute;
      width: 16px;
      height: 16px;
      top: 12px;
      left: 12px; }

.approach {
  margin: 0 0 100px 100px;
  padding: 200px 0 0 50px;
  background-color: #ff9c8e;
  border-radius: 150px 0 0 150px;
  overflow: hidden; }
  @media screen and (max-width: 900px) {
    .approach {
      margin: 0 0 50px 0; } }
  @media screen and (max-width: 900px) {
    .approach {
      padding: 30px 0 20px 20px; } }
  @media screen and (max-width: 900px) {
    .approach {
      border-radius: 50px 0 0 50px; } }
  @media screen and (min-width: 1601px) {
    .approach {
      border-radius: 150px; } }
  .approach__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    max-width: 1400px; }
  .approach__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 150px;
    width: 362px; }
    @media screen and (max-width: 1024px) {
      .approach__article {
        margin: 0 30px; } }
  .approach__title {
    color: #fff; }
  .approach__heading {
    margin-bottom: 10px;
    color: #fff; }
  .approach__text {
    position: relative;
    padding-left: 100px;
    color: #fff;
    font-size: 15px;
    line-height: 150%; }
    .approach__text::before {
      position: absolute;
      left: 0;
      top: 10px; }
    .approach__text:nth-child(3)::before {
      content: url(../images/features/features-item-icon-1.svg); }
    .approach__text:nth-child(4)::before {
      content: url(../images/features/features-item-icon-2.svg); }
    .approach__text:nth-child(5)::before {
      content: url(../images/features/features-item-icon-3.svg); }
  .approach__picture {
    height: 680px;
    width: 680px;
    background-image: url(../images/what-we-do/Photo.png); }
    @media screen and (max-width: 900px) {
      .approach__picture {
        display: none; } }

.clients__container {
  margin: 0 auto 150px;
  padding: 20px;
  max-width: 1200px; }
  @media screen and (max-width: 900px) {
    .clients__container {
      margin-bottom: 50px; } }

.clients__title {
  color: #c0cdd7; }

.clients__heading {
  margin-bottom: 80px; }

.clients__client-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 900px) {
    .clients__client-cards {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 900px) {
    .clients__client-cards {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

h1 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px;
  color: #fff; }

h2 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 150%;
  color: #253757; }

h3 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #253757; }

h4 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: #fff; }

.header__link, .nav__link {
  padding: 10px 5px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .header__link:hover, .nav__link:hover {
    color: #ff9c8e; }
  @media screen and (max-width: 900px) {
    .header__link, .nav__link {
      font-size: 24px; } }

.intro__button, .apply__button, .contacts__button {
  width: 226px;
  background: #ff9c8e;
  border-radius: 64px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .intro__button:hover, .apply__button:hover, .contacts__button:hover {
    background-color: #ff7e6c; }

.process__title, .process-card__order, .approach__title, .clients__title {
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.client-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(314px * 0.28) 32px 32px;
  width: 314px;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .client-card:nth-child(1) .client-card__graphic {
    color: #56ccf2; }
    .client-card:nth-child(1) .client-card__graphic::before {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
    .client-card:nth-child(1) .client-card__graphic::after {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
  .client-card:nth-child(2) .client-card__graphic {
    color: #fcc91d; }
    .client-card:nth-child(2) .client-card__graphic::before {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc91d;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc91d; }
    .client-card:nth-child(2) .client-card__graphic::after {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc91d;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc91d; }
  .client-card:nth-child(3) .client-card__graphic {
    color: #15d850; }
    .client-card:nth-child(3) .client-card__graphic::before {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #15d850;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #15d850; }
    .client-card:nth-child(3) .client-card__graphic::after {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #15d850;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #15d850; }
  .client-card:hover {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%); }
  @media screen and (max-width: 900px) {
    .client-card {
      margin-bottom: 50px; } }
  .client-card__graphic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1; }
    .client-card__graphic::before {
      content: "";
      position: absolute;
      right: 40%;
      bottom: 80%;
      z-index: -1;
      width: calc(314px * 0.44);
      height: calc(314px * 0.18);
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
    .client-card__graphic::after {
      content: "";
      position: absolute;
      left: 30%;
      top: 40%;
      z-index: -1;
      width: calc(314px * 0.44);
      height: calc(314px * 0.18);
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
  .client-card__quote-sign {
    margin: 30px 10px 5px; }
  .client-card__portrait {
    margin-bottom: calc(314px * 0.2);
    width: calc(314px * 0.44);
    height: calc(314px * 0.44);
    border-radius: 50%; }
  .client-card__text {
    margin: 0 0 15px;
    text-align: center;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b; }
  .client-card__name {
    font-size: 13px;
    line-height: 150%;
    color: #253757; }
  .client-card__position {
    margin: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }

.apply {
  height: 800px;
  background-color: #fff;
  overflow: hidden; }
  @media screen and (min-width: 1601px) {
    .apply {
      border-radius: 150px 150px 0 0; } }
  .apply__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    padding: 180px 0;
    max-width: 1400px; }
    @media screen and (max-width: 900px) {
      .apply__container {
        padding: 100px 0; } }
  .apply__content {
    width: 750px;
    text-align: center; }
  .apply__button {
    height: 56px; }
  .apply__text {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }
  .apply__graphic {
    position: absolute;
    left: 10%;
    opacity: 0.3;
    z-index: -1;
    border-radius: 500px;
    border: 2px solid red;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .apply__graphic:hover {
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg); }
    .apply__graphic:nth-child(3n) {
      width: 145px;
      height: 55px; }
    .apply__graphic:nth-child(3n+1) {
      width: 85px;
      height: 35px; }
    .apply__graphic:nth-child(3n+2) {
      width: 45px;
      height: 18px; }
    .apply__graphic:nth-child(4n) {
      border-color: #56ccf2; }
    .apply__graphic:nth-child(4n+1) {
      border-color: #fcc91d; }
    .apply__graphic:nth-child(4n+2) {
      border-color: #15d850; }
    .apply__graphic:nth-child(4n+3) {
      border-color: #f36363; }
    .apply__graphic:nth-child(1) {
      top: 20%; }
    .apply__graphic:nth-child(2) {
      top: 30%;
      left: 20%; }
    .apply__graphic:nth-child(3) {
      top: 50%;
      left: 10%; }
    .apply__graphic:nth-child(4) {
      bottom: 15%;
      left: 25%; }
    .apply__graphic:nth-child(5) {
      top: 30%;
      left: 80%; }
    .apply__graphic:nth-child(6) {
      top: 20%;
      left: 90%; }
    .apply__graphic:nth-child(7) {
      top: 70%;
      left: 80%; }
    .apply__graphic:nth-child(8) {
      top: 70%;
      left: 65%; }
    .apply__graphic:nth-child(9) {
      bottom: 10%;
      left: 90%; }
    .apply__graphic:nth-child(10) {
      top: 70%;
      left: 0; }
    .apply__graphic:nth-child(11) {
      bottom: 20%;
      left: 20%; }
    .apply__graphic:nth-child(12) {
      top: 50%;
      left: 77%; }

.contacts {
  margin-top: -130px;
  padding: 180px 100px 100px;
  background-color: #008aff;
  border-radius: 0 150px 0 0; }
  @media screen and (max-width: 900px) {
    .contacts {
      padding: 100px 20px 20px; } }
  @media screen and (max-width: 900px) {
    .contacts {
      border-radius: 0 50px 0 0; } }
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; }
    @media screen and (max-width: 900px) {
      .contacts__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .contacts__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 900px) {
      .contacts__form {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .contacts__input {
    margin-bottom: 50px;
    padding: 16px 0;
    width: 460px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    background: none;
    border-bottom: #fff 2px solid; }
    @media screen and (max-width: 500px) {
      .contacts__input {
        width: 90%; } }
    .contacts__input::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.7;
      line-height: 22px; }
    .contacts__input::-moz-placeholder {
      color: #fff;
      opacity: 0.7;
      line-height: 22px; }
    .contacts__input:-ms-input-placeholder {
      color: #fff;
      opacity: 0.7;
      line-height: 22px; }
    .contacts__input::-ms-input-placeholder {
      color: #fff;
      opacity: 0.7;
      line-height: 22px; }
    .contacts__input::placeholder {
      color: #fff;
      opacity: 0.7;
      line-height: 22px; }
    .contacts__input:focus {
      outline: none;
      border-bottom: #fff 4px solid; }
    .contacts__input:last-of-type {
      margin-bottom: 80px; }
  .contacts__button {
    height: 56px; }
    @media screen and (max-width: 900px) {
      .contacts__button {
        margin-bottom: 20px; } }
  .contacts__heading {
    margin-bottom: 55px;
    color: #fff; }
  .contacts__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts__link {
    margin-bottom: 50px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .contacts__link:hover {
      opacity: 0.7; }
  .contacts__contact {
    margin-bottom: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5; }
  .contacts__networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 150px; }
  .contacts__network {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .contacts__network:hover {
      opacity: 0.7; }
  @media screen and (min-width: 1601px) {
    .contacts {
      border-radius: 150px 150px 0 0; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #008aff; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: calc(100% - 120px);
    max-width: 1400px; }
    @media screen and (max-width: 900px) {
      .footer__container {
        display: none; } }

/*# sourceMappingURL=main.css.map */
